<form #newForm="ngForm" (ngSubmit)="onSubmit(newForm)">
    <input type="text" [name]="'anotherone'"  [ngClass]="{'bd-red': submitted && firstname.errors && firstname.errors.emailError}"
        #firstname="ngModel" ngModel name='email' appCutomTemplate>
    {{firstname.errors | json}}
    <input value="male" type="radio" name="gender" ngModel> Male
    <input value="felmale" type="radio" name="gender" ngModel> Female

    <select name="counter" ngModel>
        <option [ngValue]="item" *ngFor="let item of counterArray">{{item}}</option>
    </select>
    <button type="submit"> submit the form</button>
</form>